$primary-color: cyan;
$bg: white;

$light-wisteria: #C8A4D4;
$butterfly-bush: #795695;
$meteorite: #371F76;
$portage: #AC94F4;
$royal-purple: #643B9F;


$halloween-orange: #EB6123;
$calendar-orange: #F6BF26;

// font-size

$sm: 12px;
