@import '../base/typography';


// use noto-serif font-family for the time, and inside the calendar..
  // colors:  for each block of time use calendar-orange from variables file.
  // use white font color for the text inside the block of time
// make the font-size smaller ex: inside the calendar try 12px, the time 18px and the top make it 20~ px.

// make all block a rectangle, currently there is some wedges or curves on the edges.
// consider using material-ui for the modal window.

#calendarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#calendarWidget {
  position: relative;
  width: 90%;
  left: 3%;
}
#calendar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.calendarColumn {
  position: relative;
  width: 12%;
  height: 640px;
  border: 1px solid #AAAAAA;
}
#overlay {
  position: absolute;
  width: 90%;
  margin-left: -6%;
}
#dateRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dateTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12%;
}
#calendarBackground {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.calendarModalLink {
  margin: 5px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.calendarModalLink:hover {
  color: fuchsia;
}
#calendarModalX {
  width: 20px;
  height: 20px;
  align-self: flex-end;
  position: relative;
  top: 5px;
  cursor: pointer;
}
.eventInnerText {
  white-space: nowrap;
}