
.homeContainer {
  display: flex;
  width: 99%;
  height: 99%;
  margin: 5% 0;
}

.cardHome {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 100vw;
  height: 100vh;
  background-color: #FDFEFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  // margin-right: 0px;
  align-items: center;
  justify-content: space-evenly;
}

// .home {
//   display: flex;
//   // width: 70%;
//   margin: auto;
// }

.homeWorkoutCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 0;
  // height: 100%;
  width: 100%;
}

.workoutCard {
  display: flex;
  flex-direction: column;
  // margin: 0;
  height: 100%;
  width: 100%;
}

// .workoutSession {
//   display: flex;
//   // flex-wrap: wrap;
//   // justify-content: center;
//   align-items: center;
//   // margin-top: 15px;
//   background-color: #59B4D1;
//   color: #FDFEFF;
//   text-align: center;
//   height: 100%;
//   border-radius: 15px;
//   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// }

.homeSessionText {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  // margin: 10px 0 0 0;
  // padding: 20px 0 0 0;
  font-size: 20px;
}

.workoutTileContainer {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #59B4D1;
  color: #FDFEFF;
  text-align: center;
  // height: 100%;
  width: 100%;

}

.workoutDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // height: 100%;
}

.workoutTile {
  display: flex;
  margin: 1em 3em 1em 3em;
  overflow-wrap: break-word;
  word-break: normal;
  white-space: pre-wrap;
  font-size: 1em;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // text-align: center;
  background-color: #FDFEFF;
  color: 	#282828;
  border-radius: 8px;
}

.homeMealCard {
  // display: flex;
  // flex-direction: row;
  // // margin: 0;
  // height: 90%;
  // width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 0;
  // height: 100%;
  width: 100%;
}

.mealCard {
  margin: 0;
  height: 50%;
  width: 100%;
}

// .mealSession {
//   margin-top: 15px;
//   background-color: #59D090;
//   text-align: center;
//   color: #FDFEFF;
//   height: 100%;
//   border-radius: 15px;
//   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// }

.mealSession {
  margin-top: 15px;
  background-color: #59D090;
  text-align: center;
  color: #FDFEFF;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mealTileContainer {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #59D090;
  color: #FDFEFF;
  text-align: center;
  // height: 100%;
  width: 100%;

}

.mealDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // height: 100%;
}

.mealTile {
  display: flex;
  box-sizing: border-box;
  margin: 2em 1em 1em 1em;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 1em;
  font-size-adjust: inherit;
  width: 60%;
  height: 70px;
  max-height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // text-align: center;
  background-color: #FDFEFF;
  color: 	#282828;
  border-radius: 8px;
}





.journalSession {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin-top: 15px;
  background-color: #945AD1;
  color: #FDFEFF;
  height: 170px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.journalDisplay {
  display: flex;
  margin: 25px 0 15px 2px;
  padding: 5px 0 10px 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #FDFEFF;
  color: #C8C8C8;
  width: 500px;
  height: 70px;
  border-radius: 10px;
}



.chat-engine {
  display: flex;

}
