
.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 99%;
  margin-top: 50px;
}

.homeWorkoutCard {
  margin: 0 0 20px;
  height: 50%;
  border: 2px solid #282828;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 8px;

}

.workoutText {

  align-items: center;
  text-align: center;
  margin: 10px 0 15px 0;
  font-size: 30px;
}

.workoutDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.workoutCardBorder {
  margin: 0 5px 5px 5px;
}

.mealCard {
  margin: 0 0 20px 0;
  height: 50%;
  border: 2px solid #282828;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 8px;
}

.mealDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mealText {

  align-items: center;
  text-align: center;
  margin: 10px 0 15px 0;
  font-size: 30px;
}


.mealCardBorder {
  margin: 0 5px 5px 5px;

}

.chat-engine {
  display: flex;
}
