
.myStyle {
  background-color: blue;
}

.journalContainer {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  justify-content: center;
}

.journalParent {
  height: 100%;
  position: absolute;
  width: 100%;
}

#formContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 70%;
  width: 50%;
}

#formButton {
  align-self: flex-end;
  margin-right: 5%;
}

.inputForJournal {
  border-radius: 2% 2%;
  height: 40%;
  margin: 2%;
  border: solid 2px white;
  width: 80%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.entryListContainer {
  margin-top: 55px;
  margin-left: .5%;
  background-color: white;
  padding: 3%;
  border-radius: 2% 2%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 50%;
  height: 70%;
  overflow-y: scroll;
}
.entryListContainer::-webkit-scrollbar {
  display: none;
}
.entryListContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.journalEntry {
  margin-top: 2%;
  // margin-top: 20px;
}


.journalTitleRow {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  .journalH3 {
    margin: 0%;
    font-size: 15px;
    opacity: 70%;
  }
  .entryDeleteButton {
    background-color: white;
    justify-self: right;
    border-radius: 8px;
    border: ridge;
    opacity: 0.6;
    transition: 0.3s;
  }
  .entryDeleteButton:hover {opacity: 1}


}

.workoutIcon {
  height: 4%;
  width: 4%;
  margin-right: 3%;
  margin-top: 2%;
}

.mealIcon {
  height: 4%;
  width: 4%;
  margin-right: 3%;
  margin-top: 2%;
}
.mealEntryWrapper {
  .mealEntry {
    display: flex;
    align-items: center;
    margin-top: 2%;
  }
}

.workoutentry {
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;}