#mobileCalendarContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
#mobileDateRow {
  border: solid 1px black;
  width: 84%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.mobileDaySelection {
  margin-top: 2%;
  margin-bottom: 2%;
  user-select: none;
  font-size: xxx-large;
}
#mobileDateBanner {
  color: black;
  font-size: xxx-large;
}
#mobileEventsContainer {
  position: relative;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#mobileEventColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
}
.mobileCalendarEventBox {
  width: 80%;
  border: solid 2px black;
  display: flex;
  align-items: center;
  margin: 3%;
  height: 22%;
  border-radius: 5%;
  flex-shrink: 0;
  padding-left: 5%;
}
.mobileCalendarSessionBox {
  background-color: lightpink;
}
.mobileCalendarMealBox {
  background-color: lightgreen;
}
.mobileAdd {
  color: blue;
  font-size: xxx-large;
}
#mobileAddWorkout {
  margin-top: 2%;
}
.mobileEventDescription {
  user-select: none;
  margin: 0;
  font-size: xxx-large;
}