
.workoutContainer {
  display: flex;
  width: 99%;
  height: 99%;
  margin-top: 50px;
}

.workout {
  display: flex;
  margin: auto;
}

.cardSession {
  border-radius: 15px;
  width: 550px;
  height: 650px;
  background-color: #59B4D1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  margin-top: 25px;
}

.session {
  margin-top: 15px;
  background-color: #FEFEFE;
  width: 500px;
  height: 120px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.exerciseCard {
  margin-top: 15px;
  background-color: #FEFEFE;
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.actions {
  display: flex;
}

.actions {
  margin-right: 15px;
}

.sessionContainer {
  margin-left: 15px;
  font-size: 20px;
}

.eText {
  margin-left: 15px;
}

.exerciseItem {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
}

.symbol1 {
  margin-top: 7px;
  margin-right: 30px;
}

.dropDown {
  margin-right: 15px;
  margin-left: 10px;
}

.excerciseDisplay {
  margin-right: 15px;
  margin-left: 10px;
}

.excerciseItem {
  background-color: #59B4D1;
  color: white;
  margin-right: 10px;
}

.buttonContainer1 {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttonContainer2 {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sessionText {
  margin-top: 10px;
}

.eContainer {
  display: flex;
  align-items: center;
  align-content: flex-end;
}