
.workoutContainer {
  display: flex;
  width: 99%;
  height: 99%;
  margin-top: 50px;
}

.workout {
  display: flex;
  margin: auto;
}

.cardSession {
  border-radius: 15px;
  width: 550px;
  height: 650px;
  background-color: #59B4D1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  margin-top: 25px;
}

.session {
  margin-top: 15px;
  background-color: #FEFEFE;
  width: 500px;
  height: 120px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.exerciseCard {
  margin-top: 15px;
  background-color: #FEFEFE;
  width: 500px;
  height: 80px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
}

.actions {
  margin-right: 15px;
}

.sessionText {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 20px;
}

.eText {
  margin-left: 15px;
}