@import '../Sass/utilities/variables';
@import '../Sass/utilities/functions';
@import '../Sass/utilities/mixins';

@import '../Sass/base/typography';

@import '../Sass/vendors/bootstrap';

@import '../Sass/themes/theme';
@import '../Sass/themes/admin';

@import '../Sass/layout/forms';
@import '../Sass/layout/header';
@import '../Sass/layout/navigation';

@import '../Sass/components/button';

@import '../Sass/pages/calendar';
@import '../Sass/pages/mobileCalendar';
@import '../Sass/pages/home';
@import '../Sass/pages/journal';
@import '../Sass/pages/mealplan';
@import '../Sass/pages/workout';
@import '../Sass/pages/login';

@import '../Sass/themes/theme';
@import '../Sass/themes/admin';



// current h1 css should not be here, putting it here to serve as an example that it works.
h1 {
  color: $primary-color;
  background-color: $bg;
}

#body {
  background-color: #E1E8ED;
  // font-family: 'Roboto', sans-serif;
  // font-family: $noto-serif;
}


.open-chat {
  position: fixed;
  top: 90%;
  left: 93%;
  width: 5%;
  height: 5%;
  z-index: 20;
  border: solid 2px black;
  border-radius: 10%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.open-chat:hover {
  border: solid 2px orange;
}
.openButtonText {
  margin: 0;
}
.closeButtonText {
  margin: 0;
  color: red;
}
#chatEngineContainer {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10 !important;
}
.chatEngine-wrap {
  border: solid 2px black;
  z-index: 10 !important;
  width: 80%;
  font-family:Arial, Helvetica, sans-serif;
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
}

// .ce-chat-title-text, .ce-chat-subtitle-text {
//   visibility: hidden !important;
// }
// .ce-chats-container {
//   background-color: cyan !important;
// }

html {background-color: #E1E8ED}

// html {background-image: url(../imgages/food1.jpg)};


.test {
  border: solid 2px black;
}